USE [master]
GO
/****** Object:  Database [AutomotiveDB]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE DATABASE [AutomotiveDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutomotiveDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AutomotiveDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutomotiveDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AutomotiveDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutomotiveDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutomotiveDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agreement]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agreement](
	[AgreementID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SalesPersonID] [int] NULL,
	[LoiID] [int] NOT NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK__Agreemen__0A309D232910C534] PRIMARY KEY CLUSTERED 
(
	[AgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](20) NOT NULL,
	[Type] [varchar](20) NULL,
	[BasePrice] [float] NULL,
	[Color] [varchar](20) NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK__Car__68A0340E77F06A5D] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultHistory]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultHistory](
	[ConsultID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SalesPersonID] [int] NOT NULL,
	[Budget] [float] NULL,
	[Date] [date] NULL,
	[Note] [text] NULL,
 CONSTRAINT [PK__ConsultH__28859B15882A2E42] PRIMARY KEY CLUSTERED 
(
	[ConsultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credit]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credit](
	[CreditID] [int] IDENTITY(1,1) NOT NULL,
	[AgreementID] [int] NOT NULL,
	[CreditAmount] [float] NOT NULL,
	[Tenor] [int] NULL,
	[InterestRate] [float] NOT NULL,
	[MonthlyPaymentAmount] [float] NOT NULL,
	[CreditStatus] [varchar](20) NULL,
	[PaidFully] [bit] NOT NULL,
 CONSTRAINT [PK__Credit__ED5ED09B313A4DA0] PRIMARY KEY CLUSTERED 
(
	[CreditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CardID] [varchar](20) NOT NULL,
	[Address] [text] NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
 CONSTRAINT [PK__Customer__A4AE64B8E6A3B661] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dealer]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dealer](
	[DealerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Address] [text] NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Dealer__CA2F8E92D9559A98] PRIMARY KEY CLUSTERED 
(
	[DealerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealerCar]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerCar](
	[DealerCarID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[DealerID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Stock] [int] NOT NULL,
	[DiscountPercent] [float] NULL,
	[FeePercent] [float] NULL,
 CONSTRAINT [PK__DealerCa__7DD0B566538D77B1] PRIMARY KEY CLUSTERED 
(
	[DealerCarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LetterOfIntent]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterOfIntent](
	[LoiID] [int] IDENTITY(1,1) NOT NULL,
	[DealerCarID] [int] NOT NULL,
	[DiscountAmount] [float] NULL,
	[FeeAmount] [float] NULL,
	[FinalPrice] [float] NOT NULL,
	[DownPayment] [float] NULL,
	[PaymentMethod] [varchar](10) NULL,
 CONSTRAINT [PK__LetterOf__412C029A7A1372A8] PRIMARY KEY CLUSTERED 
(
	[LoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentHistory]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentHistory](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[AgreementID] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[PaymentNumber] [int] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK__PaymentH__9B556A58E7EC8DDF] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesPerson]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesPerson](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DealerID] [int] NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
 CONSTRAINT [PK__SalesPer__C952FB1235E0F6CE] PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDrive]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDrive](
	[TestDriveID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[DealerCarID] [int] NOT NULL,
	[SalesPersonID] [int] NOT NULL,
	[Date] [date] NULL,
	[feedback] [text] NULL,
 CONSTRAINT [PK__TestDriv__BF98EF728A76C646] PRIMARY KEY CLUSTERED 
(
	[TestDriveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyClaim]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyClaim](
	[ClaimID] [int] IDENTITY(1,1) NOT NULL,
	[WarrantyID] [int] NOT NULL,
	[IssueReported] [text] NOT NULL,
	[ServiceCenter] [varchar](20) NOT NULL,
	[RepairDate] [date] NOT NULL,
	[RepairCost] [float] NOT NULL,
	[ClaimStatus] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Warranty__EF2E13BB5AEAA3B4] PRIMARY KEY CLUSTERED 
(
	[ClaimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyRegistration]    Script Date: 8/4/2025 10:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyRegistration](
	[WarrantyID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[PurchaseID] [int] NOT NULL,
	[WarrantyPeriodMonths] [int] NULL,
 CONSTRAINT [PK__Warranty__2ED318F3EDE5B9B7] PRIMARY KEY CLUSTERED 
(
	[WarrantyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250804030324_AddIdentityTable', N'9.0.7')
GO
SET IDENTITY_INSERT [dbo].[Agreement] ON 

INSERT [dbo].[Agreement] ([AgreementID], [CustomerID], [SalesPersonID], [LoiID], [Date]) VALUES (1, 1, 2, 1, CAST(N'2025-07-19' AS Date))
INSERT [dbo].[Agreement] ([AgreementID], [CustomerID], [SalesPersonID], [LoiID], [Date]) VALUES (2, 2, 3, 2, CAST(N'2025-07-19' AS Date))
INSERT [dbo].[Agreement] ([AgreementID], [CustomerID], [SalesPersonID], [LoiID], [Date]) VALUES (3, 3, 1, 3, CAST(N'2025-07-19' AS Date))
SET IDENTITY_INSERT [dbo].[Agreement] OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([CarID], [Model], [Type], [BasePrice], [Color], [Stock]) VALUES (1, N'Xpander Sport', N'MPV', 255000000, N'Hitam', 5)
INSERT [dbo].[Car] ([CarID], [Model], [Type], [BasePrice], [Color], [Stock]) VALUES (2, N'L300 2025', N'Commercial', 232500000, N'Putih', 30)
INSERT [dbo].[Car] ([CarID], [Model], [Type], [BasePrice], [Color], [Stock]) VALUES (3, N'Pajero', N'SUV', 577700000, N'Silver', 25)
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsultHistory] ON 

INSERT [dbo].[ConsultHistory] ([ConsultID], [CustomerID], [SalesPersonID], [Budget], [Date], [Note]) VALUES (1, 3, 1, 250000000, CAST(N'2025-07-19' AS Date), N'Ingin mobil usaha dan tertarik mobil keluarga.')
INSERT [dbo].[ConsultHistory] ([ConsultID], [CustomerID], [SalesPersonID], [Budget], [Date], [Note]) VALUES (2, 1, 2, 450000000, CAST(N'2025-07-19' AS Date), N'Cari sedan sport.')
INSERT [dbo].[ConsultHistory] ([ConsultID], [CustomerID], [SalesPersonID], [Budget], [Date], [Note]) VALUES (3, 2, 3, 500000000, CAST(N'2025-07-19' AS Date), N'Tertarik SUV.')
SET IDENTITY_INSERT [dbo].[ConsultHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Credit] ON 

INSERT [dbo].[Credit] ([CreditID], [AgreementID], [CreditAmount], [Tenor], [InterestRate], [MonthlyPaymentAmount], [CreditStatus], [PaidFully]) VALUES (1, 1, 583227645, 36, 8.5, 16200676, N'smooth', 0)
SET IDENTITY_INSERT [dbo].[Credit] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Name], [CardID], [Address], [PhoneNumber], [Email]) VALUES (1, N'Jefri', N'JT123444', N'Jl. Maju Terus gg.4 No.7, Jawa Timur', N'081234567890', N'JefriTampang34@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [Name], [CardID], [Address], [PhoneNumber], [Email]) VALUES (2, N'Jason', N'DKI10056', N'Jl. Kemana Aja IV No.30, Jakarta', N'081234567891', N'JazzJason77@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [Name], [CardID], [Address], [PhoneNumber], [Email]) VALUES (3, N'Juliet Romeo', N'MT964903', N'Jl. Tapi Mager 2 No.2, Medan', N'08123488888', N'citra@mail.com')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Dealer] ON 

INSERT [dbo].[Dealer] ([DealerID], [Name], [Address], [PhoneNumber], [Email], [Status]) VALUES (1, N'Dealer Srikandi', N'Jl. Jendral Sudirman', N'02195633556', N'dealersrikandi@gmail.com', 1)
INSERT [dbo].[Dealer] ([DealerID], [Name], [Address], [PhoneNumber], [Email], [Status]) VALUES (2, N'Dealer Berlian', N'Jl. Gatot Subroto', N'02106745678', N'dealerberlian@mail.com', 1)
INSERT [dbo].[Dealer] ([DealerID], [Name], [Address], [PhoneNumber], [Email], [Status]) VALUES (3, N'Dealer Yudha', N'Jl. Thamrin', N'021895363', N'dealeryudha@mail.com', 0)
SET IDENTITY_INSERT [dbo].[Dealer] OFF
GO
SET IDENTITY_INSERT [dbo].[DealerCar] ON 

INSERT [dbo].[DealerCar] ([DealerCarID], [CarID], [DealerID], [Price], [Stock], [DiscountPercent], [FeePercent]) VALUES (1, 6, 2, 350000000, 20, 10, 2)
INSERT [dbo].[DealerCar] ([DealerCarID], [CarID], [DealerID], [Price], [Stock], [DiscountPercent], [FeePercent]) VALUES (2, 1, 1, 291500000, 30, 8, 1)
INSERT [dbo].[DealerCar] ([DealerCarID], [CarID], [DealerID], [Price], [Stock], [DiscountPercent], [FeePercent]) VALUES (3, 2, 2, 253700000, 14, 8.5, 1)
SET IDENTITY_INSERT [dbo].[DealerCar] OFF
GO
SET IDENTITY_INSERT [dbo].[LetterOfIntent] ON 

INSERT [dbo].[LetterOfIntent] ([LoiID], [DealerCarID], [DiscountAmount], [FeeAmount], [FinalPrice], [DownPayment], [PaymentMethod]) VALUES (1, 1, 59070000, 5907000, 525723000, 50000000, N'credit')
INSERT [dbo].[LetterOfIntent] ([LoiID], [DealerCarID], [DiscountAmount], [FeeAmount], [FinalPrice], [DownPayment], [PaymentMethod]) VALUES (2, 2, 23320000, 2915000, 265265000, 2000000, N'cash')
INSERT [dbo].[LetterOfIntent] ([LoiID], [DealerCarID], [DiscountAmount], [FeeAmount], [FinalPrice], [DownPayment], [PaymentMethod]) VALUES (3, 3, 21564500, 2537000, 229598500, 3000000, N'transfer')
SET IDENTITY_INSERT [dbo].[LetterOfIntent] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentHistory] ON 

INSERT [dbo].[PaymentHistory] ([PaymentID], [AgreementID], [Amount], [PaymentNumber], [Date]) VALUES (1, 1, 16200676, 1, CAST(N'2025-07-19' AS Date))
INSERT [dbo].[PaymentHistory] ([PaymentID], [AgreementID], [Amount], [PaymentNumber], [Date]) VALUES (2, 1, 16200676, 2, CAST(N'2025-07-19' AS Date))
INSERT [dbo].[PaymentHistory] ([PaymentID], [AgreementID], [Amount], [PaymentNumber], [Date]) VALUES (3, 2, 251095000, 1, CAST(N'2025-07-19' AS Date))
SET IDENTITY_INSERT [dbo].[PaymentHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesPerson] ON 

INSERT [dbo].[SalesPerson] ([SalesID], [Name], [DealerID], [PhoneNumber], [Email]) VALUES (1, N'Dina', 1, N'081234567001', N'dinasrikandi@gmail.com')
INSERT [dbo].[SalesPerson] ([SalesID], [Name], [DealerID], [PhoneNumber], [Email]) VALUES (2, N'Eko', 2, N'081234567002', N'ekoberlian@mail.com')
INSERT [dbo].[SalesPerson] ([SalesID], [Name], [DealerID], [PhoneNumber], [Email]) VALUES (3, N'Farah', 1, N'081234567003', N'farahsrikandi@gmail.com')
SET IDENTITY_INSERT [dbo].[SalesPerson] OFF
GO
SET IDENTITY_INSERT [dbo].[TestDrive] ON 

INSERT [dbo].[TestDrive] ([TestDriveID], [CustomerID], [DealerCarID], [SalesPersonID], [Date], [feedback]) VALUES (1, 1, 1, 3, CAST(N'2025-07-19' AS Date), N'Mobil nyaman dan Gagah. Pelayanan Sales Ramah')
INSERT [dbo].[TestDrive] ([TestDriveID], [CustomerID], [DealerCarID], [SalesPersonID], [Date], [feedback]) VALUES (2, 2, 2, 2, CAST(N'2025-07-19' AS Date), N'Performa mantap. Cocok untuk keluarga yang punya banyak anak. dealer suasana nyaman dan disambut dengan baik')
INSERT [dbo].[TestDrive] ([TestDriveID], [CustomerID], [DealerCarID], [SalesPersonID], [Date], [feedback]) VALUES (3, 3, 3, 1, CAST(N'2025-07-19' AS Date), N'Muatan besar sangat tertarik untuk usaha toko bangunan keluarga saya.')
SET IDENTITY_INSERT [dbo].[TestDrive] OFF
GO
SET IDENTITY_INSERT [dbo].[WarrantyClaim] ON 

INSERT [dbo].[WarrantyClaim] ([ClaimID], [WarrantyID], [IssueReported], [ServiceCenter], [RepairDate], [RepairCost], [ClaimStatus]) VALUES (1, 1, N'AC tidak dingin', N'Mitsubishi Jkt', CAST(N'2025-07-01' AS Date), 2000000, N'Closed')
INSERT [dbo].[WarrantyClaim] ([ClaimID], [WarrantyID], [IssueReported], [ServiceCenter], [RepairDate], [RepairCost], [ClaimStatus]) VALUES (2, 2, N'Lampu mati', N'Service Surabaya', CAST(N'2025-07-05' AS Date), 500000, N'Closed')
INSERT [dbo].[WarrantyClaim] ([ClaimID], [WarrantyID], [IssueReported], [ServiceCenter], [RepairDate], [RepairCost], [ClaimStatus]) VALUES (3, 3, N'Mesin bergetar', N'Mitsubishi Serpong', CAST(N'2025-07-10' AS Date), 1500000, N'Open')
SET IDENTITY_INSERT [dbo].[WarrantyClaim] OFF
GO
SET IDENTITY_INSERT [dbo].[WarrantyRegistration] ON 

INSERT [dbo].[WarrantyRegistration] ([WarrantyID], [CarID], [PurchaseID], [WarrantyPeriodMonths]) VALUES (1, 3, 1, 48)
INSERT [dbo].[WarrantyRegistration] ([WarrantyID], [CarID], [PurchaseID], [WarrantyPeriodMonths]) VALUES (2, 1, 2, 36)
INSERT [dbo].[WarrantyRegistration] ([WarrantyID], [CarID], [PurchaseID], [WarrantyPeriodMonths]) VALUES (3, 2, 3, 24)
SET IDENTITY_INSERT [dbo].[WarrantyRegistration] OFF
GO
/****** Object:  Index [IX_Agreement_CustomerID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Agreement_CustomerID] ON [dbo].[Agreement]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Agreement_SalesPersonID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Agreement_SalesPersonID] ON [dbo].[Agreement]
(
	[SalesPersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Agreemen__412C029BC5C303B4]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Agreemen__412C029BC5C303B4] ON [dbo].[Agreement]
(
	[LoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsultHistory_CustomerID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_ConsultHistory_CustomerID] ON [dbo].[ConsultHistory]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsultHistory_SalesPersonID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_ConsultHistory_SalesPersonID] ON [dbo].[ConsultHistory]
(
	[SalesPersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Credit__0A309D22EE83FE0C]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Credit__0A309D22EE83FE0C] ON [dbo].[Credit]
(
	[AgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DealerCar_CarID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_DealerCar_CarID] ON [dbo].[DealerCar]
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DealerCar_DealerID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_DealerCar_DealerID] ON [dbo].[DealerCar]
(
	[DealerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LetterOfIntent_DealerCarID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_LetterOfIntent_DealerCarID] ON [dbo].[LetterOfIntent]
(
	[DealerCarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentHistory_AgreementID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentHistory_AgreementID] ON [dbo].[PaymentHistory]
(
	[AgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesPerson_DealerID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_SalesPerson_DealerID] ON [dbo].[SalesPerson]
(
	[DealerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestDrive_CustomerID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_TestDrive_CustomerID] ON [dbo].[TestDrive]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestDrive_DealerCarID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_TestDrive_DealerCarID] ON [dbo].[TestDrive]
(
	[DealerCarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestDrive_SalesPersonID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_TestDrive_SalesPersonID] ON [dbo].[TestDrive]
(
	[SalesPersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarrantyClaim_WarrantyID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_WarrantyClaim_WarrantyID] ON [dbo].[WarrantyClaim]
(
	[WarrantyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarrantyRegistration_CarID]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_WarrantyRegistration_CarID] ON [dbo].[WarrantyRegistration]
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Warranty__6B0A6BDFD401A47A]    Script Date: 8/4/2025 10:25:51 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Warranty__6B0A6BDFD401A47A] ON [dbo].[WarrantyRegistration]
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agreement] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[ConsultHistory] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[PaymentHistory] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[TestDrive] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__Custo__5CD6CB2B] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Agreement] CHECK CONSTRAINT [FK__Agreement__Custo__5CD6CB2B]
GO
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__LoiID__5441852A] FOREIGN KEY([LoiID])
REFERENCES [dbo].[LetterOfIntent] ([LoiID])
GO
ALTER TABLE [dbo].[Agreement] CHECK CONSTRAINT [FK__Agreement__LoiID__5441852A]
GO
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__Sales__5EBF139D] FOREIGN KEY([SalesPersonID])
REFERENCES [dbo].[SalesPerson] ([SalesID])
GO
ALTER TABLE [dbo].[Agreement] CHECK CONSTRAINT [FK__Agreement__Sales__5EBF139D]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ConsultHistory]  WITH CHECK ADD  CONSTRAINT [FK__ConsultHi__Custo__5FB337D6] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[ConsultHistory] CHECK CONSTRAINT [FK__ConsultHi__Custo__5FB337D6]
GO
ALTER TABLE [dbo].[ConsultHistory]  WITH CHECK ADD  CONSTRAINT [FK__ConsultHi__Sales__60A75C0F] FOREIGN KEY([SalesPersonID])
REFERENCES [dbo].[SalesPerson] ([SalesID])
GO
ALTER TABLE [dbo].[ConsultHistory] CHECK CONSTRAINT [FK__ConsultHi__Sales__60A75C0F]
GO
ALTER TABLE [dbo].[Credit]  WITH CHECK ADD  CONSTRAINT [FK__Credit__Agreemen__619B8048] FOREIGN KEY([AgreementID])
REFERENCES [dbo].[Agreement] ([AgreementID])
GO
ALTER TABLE [dbo].[Credit] CHECK CONSTRAINT [FK__Credit__Agreemen__619B8048]
GO
ALTER TABLE [dbo].[DealerCar]  WITH CHECK ADD  CONSTRAINT [FK__DealerCar__CarID__628FA481] FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
ALTER TABLE [dbo].[DealerCar] CHECK CONSTRAINT [FK__DealerCar__CarID__628FA481]
GO
ALTER TABLE [dbo].[DealerCar]  WITH CHECK ADD  CONSTRAINT [FK__DealerCar__Deale__6383C8BA] FOREIGN KEY([DealerID])
REFERENCES [dbo].[Dealer] ([DealerID])
GO
ALTER TABLE [dbo].[DealerCar] CHECK CONSTRAINT [FK__DealerCar__Deale__6383C8BA]
GO
ALTER TABLE [dbo].[LetterOfIntent]  WITH CHECK ADD  CONSTRAINT [FK__LetterOfI__Deale__4F7CD00D] FOREIGN KEY([DealerCarID])
REFERENCES [dbo].[DealerCar] ([DealerCarID])
GO
ALTER TABLE [dbo].[LetterOfIntent] CHECK CONSTRAINT [FK__LetterOfI__Deale__4F7CD00D]
GO
ALTER TABLE [dbo].[PaymentHistory]  WITH CHECK ADD  CONSTRAINT [FK__PaymentHi__Agree__656C112C] FOREIGN KEY([AgreementID])
REFERENCES [dbo].[Agreement] ([AgreementID])
GO
ALTER TABLE [dbo].[PaymentHistory] CHECK CONSTRAINT [FK__PaymentHi__Agree__656C112C]
GO
ALTER TABLE [dbo].[SalesPerson]  WITH CHECK ADD  CONSTRAINT [FK__SalesPers__Deale__66603565] FOREIGN KEY([DealerID])
REFERENCES [dbo].[Dealer] ([DealerID])
GO
ALTER TABLE [dbo].[SalesPerson] CHECK CONSTRAINT [FK__SalesPers__Deale__66603565]
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD  CONSTRAINT [FK__TestDrive__Custo__68487DD7] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[TestDrive] CHECK CONSTRAINT [FK__TestDrive__Custo__68487DD7]
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD  CONSTRAINT [FK__TestDrive__Deale__6754599E] FOREIGN KEY([DealerCarID])
REFERENCES [dbo].[DealerCar] ([DealerCarID])
GO
ALTER TABLE [dbo].[TestDrive] CHECK CONSTRAINT [FK__TestDrive__Deale__6754599E]
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD  CONSTRAINT [FK__TestDrive__Sales__693CA210] FOREIGN KEY([SalesPersonID])
REFERENCES [dbo].[SalesPerson] ([SalesID])
GO
ALTER TABLE [dbo].[TestDrive] CHECK CONSTRAINT [FK__TestDrive__Sales__693CA210]
GO
ALTER TABLE [dbo].[WarrantyClaim]  WITH CHECK ADD  CONSTRAINT [FK__WarrantyC__Warra__6A30C649] FOREIGN KEY([WarrantyID])
REFERENCES [dbo].[WarrantyRegistration] ([WarrantyID])
GO
ALTER TABLE [dbo].[WarrantyClaim] CHECK CONSTRAINT [FK__WarrantyC__Warra__6A30C649]
GO
ALTER TABLE [dbo].[WarrantyRegistration]  WITH CHECK ADD  CONSTRAINT [FK__WarrantyR__CarID__6B24EA82] FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
ALTER TABLE [dbo].[WarrantyRegistration] CHECK CONSTRAINT [FK__WarrantyR__CarID__6B24EA82]
GO
ALTER TABLE [dbo].[WarrantyRegistration]  WITH CHECK ADD  CONSTRAINT [FK__WarrantyR__Purch__6C190EBB] FOREIGN KEY([PurchaseID])
REFERENCES [dbo].[Agreement] ([AgreementID])
GO
ALTER TABLE [dbo].[WarrantyRegistration] CHECK CONSTRAINT [FK__WarrantyR__Purch__6C190EBB]
GO
USE [master]
GO
