@model SampleAspMvcEF.ViewModels.DealerCarInsertViewModel
@{
    ViewData["Title"] = "Create Dealer Car";
}

<div class="col-md-4">
    <h3>Insert Dealer Car</h3><br />
    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="DealerId" class="form-label">Dealer</label>
            <select asp-for="DealerId" class="form-select" asp-items="ViewBag.Dealers"></select>
        </div>
        <div class="mb-3">
            <label asp-for="CarId" class="form-label">Car</label>
            <select asp-for="CarId" class="form-select" asp-items="ViewBag.Cars"></select>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" type="number" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Stock" class="form-label">Stock</label>
            <input asp-for="Stock" type="number" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DiscountPercent" class="form-label">Discount Percent</label>
            <input asp-for="DiscountPercent" type="number" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="FeePercent" class="form-label">Fee Percent</label>
            <input asp-for="FeePercent" type="number" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>