USE [master]
GO
/****** Object:  Database [AutomotiveDB3]    Script Date: 7/30/2025 11:45:53 AM ******/
CREATE DATABASE [AutomotiveDB3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutomotiveDB3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AutomotiveDB3.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutomotiveDB3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AutomotiveDB3_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutomotiveDB3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutomotiveDB3]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetDiscountAmount]    Script Date: 7/30/2025 11:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetDiscountAmount]
(
    @DealerCarID INT
)
RETURNS FLOAT
AS
BEGIN
    DECLARE @BasePrice FLOAT, @DiscountPercent FLOAT, @DiscountAmount FLOAT;

    SELECT 
        @BasePrice = dc.Price,
        @DiscountPercent = ISNULL(dc.DiscountPercent, 0)
    FROM DealerCar dc
    WHERE dc.DealerCarID = @DealerCarID;

    SET @DiscountAmount = @BasePrice * @DiscountPercent / 100;

    RETURN @DiscountAmount;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetFeeAmount]    Script Date: 7/30/2025 11:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetFeeAmount]
(
    @DealerCarID INT
)
RETURNS FLOAT
AS
BEGIN
    DECLARE @BasePrice FLOAT, @FeePercent FLOAT, @FeeAmount FLOAT;

    SELECT 
        @BasePrice = dc.Price,
        @FeePercent = ISNULL(dc.FeePercent, 0)
    FROM DealerCar dc
    WHERE dc.DealerCarID = @DealerCarID;

    SET @FeeAmount = @BasePrice * @FeePercent / 100;

    RETURN @FeeAmount;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetFinalPrice]    Script Date: 7/30/2025 11:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetFinalPrice]
(
    @DealerCarID INT
)
RETURNS FLOAT
AS
BEGIN
    DECLARE @BasePrice FLOAT, @DiscountPercent FLOAT, @FeePercent FLOAT, @FinalPrice FLOAT;

    SELECT 
        @BasePrice = dc.Price,
        @DiscountPercent = ISNULL(dc.DiscountPercent, 0),
        @FeePercent = ISNULL(dc.FeePercent, 0)
    FROM DealerCar dc
    WHERE dc.DealerCarID = @DealerCarID;

    SET @FinalPrice = @BasePrice 
                    - (@BasePrice * @DiscountPercent / 100) 
                    + (@BasePrice * @FeePercent / 100);

    RETURN @FinalPrice;
END;
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/30/2025 11:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CardID] [varchar](20) NOT NULL,
	[Address] [text] NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](20) NOT NULL,
	[Type] [varchar](20) NULL,
	[BasePrice] [float] NULL,
	[Color] [varchar](20) NULL,
	[Stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dealer]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dealer](
	[DealerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Address] [text] NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DealerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealerCar]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerCar](
	[DealerCarID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[DealerID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Stock] [int] NOT NULL,
	[DiscountPercent] [float] NULL,
	[FeePercent] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DealerCarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesPerson]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesPerson](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DealerID] [int] NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agreement]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agreement](
	[AgreementID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SalesPersonID] [int] NULL,
	[LoiID] [int] NOT NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[AgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LetterOfIntent]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterOfIntent](
	[LoiID] [int] IDENTITY(1,1) NOT NULL,
	[DealerCarID] [int] NOT NULL,
	[DiscountAmount] [float] NULL,
	[FeeAmount] [float] NULL,
	[FinalPrice] [float] NOT NULL,
	[DownPayment] [float] NULL,
	[PaymentMethod] [varchar](10) NULL,
 CONSTRAINT [PK__LetterOf__412C029A7A1372A8] PRIMARY KEY CLUSTERED 
(
	[LoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LaporanPenjualan]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LaporanPenjualan] AS
SELECT 
    a.AgreementID,
    c.Name AS CustomerName,
    sp.Name AS SalesPersonName,
    car.model AS CarModel,
    car.Type AS CarType,
    d.Name AS DealerName,
    loi.FinalPrice,
    loi.PaymentMethod,
    a.Date AS AgreementDate
FROM Agreement a
JOIN Customer c ON a.CustomerID = c.CustomerID
JOIN SalesPerson sp ON a.SalesPersonID = sp.SalesID
JOIN LetterOfIntent loi ON a.LoiID = loi.LoiID
JOIN DealerCar dc ON loi.DealerCarID = dc.DealerCarID
JOIN Car car ON dc.CarID = car.CarID
JOIN Dealer d ON dc.DealerID = d.DealerID;
GO
/****** Object:  View [dbo].[vw_SalesReport]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SalesReport] AS
SELECT 
    a.AgreementID,
    c.Name AS CustomerName,
    sp.Name AS SalesPersonName,
    car.model AS CarModel,
    car.Type AS CarType,
    d.Name AS DealerName,
    loi.FinalPrice,
    loi.PaymentMethod,
    a.Date AS AgreementDate
FROM Agreement a
JOIN Customer c ON a.CustomerID = c.CustomerID
JOIN SalesPerson sp ON a.SalesPersonID = sp.SalesID
JOIN LetterOfIntent loi ON a.LoiID = loi.LoiID
JOIN DealerCar dc ON loi.DealerCarID = dc.DealerCarID
JOIN Car car ON dc.CarID = car.CarID
JOIN Dealer d ON dc.DealerID = d.DealerID;
GO
/****** Object:  Table [dbo].[Credit]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credit](
	[CreditID] [int] IDENTITY(1,1) NOT NULL,
	[AgreementID] [int] NOT NULL,
	[CreditAmount] [float] NOT NULL,
	[Tenor] [int] NULL,
	[InterestRate] [float] NOT NULL,
	[MonthlyPaymentAmount] [float] NOT NULL,
	[CreditStatus] [varchar](20) NULL,
	[PaidFully] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CreditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentHistory]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentHistory](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[AgreementID] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[PaymentNumber] [int] NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CreditStatus]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CreditStatus] AS
SELECT 
    cr.CreditID,
    c.Name AS CustomerName,
    car.model AS CarModel,
    cr.CreditAmount,
    cr.Tenor,
    cr.InterestRate,
    cr.MonthlyPaymentAmount,
    cr.CreditStatus,
    CASE WHEN cr.PaidFully = 1 THEN 'Paid Full' ELSE 'Unpaid Fully' END AS PaymentStatus,
    COUNT(ph.PaymentID) AS PaymentCount
FROM Credit cr
JOIN Agreement a ON cr.AgreementID = a.AgreementID
JOIN Customer c ON a.CustomerID = c.CustomerID
JOIN LetterOfIntent loi ON a.LoiID = loi.LoiID
JOIN DealerCar dc ON loi.DealerCarID = dc.DealerCarID
JOIN Car car ON dc.CarID = car.CarID
LEFT JOIN PaymentHistory ph ON cr.AgreementID = ph.AgreementID
GROUP BY 
    cr.CreditID, c.Name, car.model, cr.CreditAmount, cr.Tenor,
    cr.InterestRate, cr.MonthlyPaymentAmount, cr.CreditStatus, cr.PaidFully;
GO
/****** Object:  View [dbo].[vw_CarStock]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CarStock] AS
SELECT 
    dc.DealerCarID,
    car.CarID,
    car.model AS CarModel,
    car.Type,
    car.Color,
    d.Name AS DealerName,
    dc.Price,
    dc.Stock AS StockDealer,              -- stok in dealer
    car.Stock AS StockMaster       -- stok in master Car
FROM DealerCar dc
JOIN Car car ON dc.CarID = car.CarID
JOIN Dealer d ON dc.DealerID = d.DealerID
WHERE dc.Stock > 0;

--SELECT * FROM vw_CarStock;
GO
/****** Object:  Table [dbo].[ConsultHistory]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultHistory](
	[ConsultID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SalesPersonID] [int] NOT NULL,
	[Budget] [float] NULL,
	[Date] [date] NULL,
	[Note] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDrive]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDrive](
	[TestDriveID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[DealerCarID] [int] NOT NULL,
	[SalesPersonID] [int] NOT NULL,
	[Date] [date] NULL,
	[feedback] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestDriveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyClaim]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyClaim](
	[ClaimID] [int] IDENTITY(1,1) NOT NULL,
	[WarrantyID] [int] NOT NULL,
	[IssueReported] [text] NOT NULL,
	[ServiceCenter] [varchar](20) NOT NULL,
	[RepairDate] [date] NOT NULL,
	[RepairCost] [float] NOT NULL,
	[ClaimStatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyRegistration]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyRegistration](
	[WarrantyID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[PurchaseID] [int] NOT NULL,
	[WarrantyPeriodMonths] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarrantyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agreement] ON 

INSERT [dbo].[Agreement] ([AgreementID], [CustomerID], [SalesPersonID], [LoiID], [Date]) VALUES (1, 1, 2, 1, CAST(N'2025-07-19' AS Date))
INSERT [dbo].[Agreement] ([AgreementID], [CustomerID], [SalesPersonID], [LoiID], [Date]) VALUES (2, 2, 3, 2, CAST(N'2025-07-19' AS Date))
INSERT [dbo].[Agreement] ([AgreementID], [CustomerID], [SalesPersonID], [LoiID], [Date]) VALUES (3, 3, 1, 3, CAST(N'2025-07-19' AS Date))
SET IDENTITY_INSERT [dbo].[Agreement] OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([CarID], [Model], [Type], [BasePrice], [Color], [Stock]) VALUES (1, N'Xpander Ultimate', N'MPV', 250000000, N'Hitam', 50)
INSERT [dbo].[Car] ([CarID], [Model], [Type], [BasePrice], [Color], [Stock]) VALUES (2, N'L300', N'Commercial', 232500000, N'Putih', 30)
INSERT [dbo].[Car] ([CarID], [Model], [Type], [BasePrice], [Color], [Stock]) VALUES (3, N'Pajero', N'SUV', 577700000, N'Silver', 25)
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsultHistory] ON 

INSERT [dbo].[ConsultHistory] ([ConsultID], [CustomerID], [SalesPersonID], [Budget], [Date], [Note]) VALUES (1, 3, 1, 250000000, CAST(N'2025-07-19' AS Date), N'Ingin mobil usaha dan tertarik mobil keluarga.')
INSERT [dbo].[ConsultHistory] ([ConsultID], [CustomerID], [SalesPersonID], [Budget], [Date], [Note]) VALUES (2, 1, 2, 450000000, CAST(N'2025-07-19' AS Date), N'Cari sedan sport.')
INSERT [dbo].[ConsultHistory] ([ConsultID], [CustomerID], [SalesPersonID], [Budget], [Date], [Note]) VALUES (3, 2, 3, 500000000, CAST(N'2025-07-19' AS Date), N'Tertarik SUV.')
SET IDENTITY_INSERT [dbo].[ConsultHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Credit] ON 

INSERT [dbo].[Credit] ([CreditID], [AgreementID], [CreditAmount], [Tenor], [InterestRate], [MonthlyPaymentAmount], [CreditStatus], [PaidFully]) VALUES (1, 1, 583227645, 36, 8.5, 16200676, N'smooth', 0)
SET IDENTITY_INSERT [dbo].[Credit] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Name], [CardID], [Address], [PhoneNumber], [Email]) VALUES (1, N'Jefri', N'JT123444', N'Jl. Maju Terus gg.4 No.7, Jawa Timur', N'081234567890', N'JefriTampang34@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [Name], [CardID], [Address], [PhoneNumber], [Email]) VALUES (2, N'Jason', N'DKI10056', N'Jl. Kemana Aja IV No.30, Jakarta', N'081234567891', N'JazzJason77@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [Name], [CardID], [Address], [PhoneNumber], [Email]) VALUES (3, N'Juliet Romeo', N'MT964903', N'Jl. Tapi Mager 2 No.2, Medan', N'08123488888', N'citra@mail.com')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Dealer] ON 

INSERT [dbo].[Dealer] ([DealerID], [Name], [Address], [PhoneNumber], [Email], [Status]) VALUES (1, N'Dealer Srikandi', N'Jl. Jendral Sudirman', N'02195633556', N'dealersrikandi@gmail.com', 1)
INSERT [dbo].[Dealer] ([DealerID], [Name], [Address], [PhoneNumber], [Email], [Status]) VALUES (2, N'Dealer Berlian', N'Jl. Gatot Subroto', N'02106745678', N'dealerberlian@mail.com', 1)
INSERT [dbo].[Dealer] ([DealerID], [Name], [Address], [PhoneNumber], [Email], [Status]) VALUES (3, N'Dealer Yudha', N'Jl. Thamrin', N'021895363', N'dealeryudha@mail.com', 0)
SET IDENTITY_INSERT [dbo].[Dealer] OFF
GO
SET IDENTITY_INSERT [dbo].[DealerCar] ON 

INSERT [dbo].[DealerCar] ([DealerCarID], [CarID], [DealerID], [Price], [Stock], [DiscountPercent], [FeePercent]) VALUES (1, 6, 2, 350000000, 20, 10, 2)
INSERT [dbo].[DealerCar] ([DealerCarID], [CarID], [DealerID], [Price], [Stock], [DiscountPercent], [FeePercent]) VALUES (2, 1, 1, 291500000, 30, 8, 1)
INSERT [dbo].[DealerCar] ([DealerCarID], [CarID], [DealerID], [Price], [Stock], [DiscountPercent], [FeePercent]) VALUES (3, 2, 2, 253700000, 14, 8.5, 1)
SET IDENTITY_INSERT [dbo].[DealerCar] OFF
GO
SET IDENTITY_INSERT [dbo].[LetterOfIntent] ON 

INSERT [dbo].[LetterOfIntent] ([LoiID], [DealerCarID], [DiscountAmount], [FeeAmount], [FinalPrice], [DownPayment], [PaymentMethod]) VALUES (1, 1, 59070000, 5907000, 525723000, 50000000, N'credit')
INSERT [dbo].[LetterOfIntent] ([LoiID], [DealerCarID], [DiscountAmount], [FeeAmount], [FinalPrice], [DownPayment], [PaymentMethod]) VALUES (2, 2, 23320000, 2915000, 265265000, 2000000, N'cash')
INSERT [dbo].[LetterOfIntent] ([LoiID], [DealerCarID], [DiscountAmount], [FeeAmount], [FinalPrice], [DownPayment], [PaymentMethod]) VALUES (3, 3, 21564500, 2537000, 229598500, 3000000, N'transfer')
SET IDENTITY_INSERT [dbo].[LetterOfIntent] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentHistory] ON 

INSERT [dbo].[PaymentHistory] ([PaymentID], [AgreementID], [Amount], [PaymentNumber], [Date]) VALUES (1, 1, 16200676, 1, CAST(N'2025-07-19' AS Date))
INSERT [dbo].[PaymentHistory] ([PaymentID], [AgreementID], [Amount], [PaymentNumber], [Date]) VALUES (2, 1, 16200676, 2, CAST(N'2025-07-19' AS Date))
INSERT [dbo].[PaymentHistory] ([PaymentID], [AgreementID], [Amount], [PaymentNumber], [Date]) VALUES (3, 2, 251095000, 1, CAST(N'2025-07-19' AS Date))
SET IDENTITY_INSERT [dbo].[PaymentHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesPerson] ON 

INSERT [dbo].[SalesPerson] ([SalesID], [Name], [DealerID], [PhoneNumber], [Email]) VALUES (1, N'Dina', 1, N'081234567001', N'dinasrikandi@gmail.com')
INSERT [dbo].[SalesPerson] ([SalesID], [Name], [DealerID], [PhoneNumber], [Email]) VALUES (2, N'Eko', 2, N'081234567002', N'ekoberlian@mail.com')
INSERT [dbo].[SalesPerson] ([SalesID], [Name], [DealerID], [PhoneNumber], [Email]) VALUES (3, N'Farah', 1, N'081234567003', N'farahsrikandi@gmail.com')
SET IDENTITY_INSERT [dbo].[SalesPerson] OFF
GO
SET IDENTITY_INSERT [dbo].[TestDrive] ON 

INSERT [dbo].[TestDrive] ([TestDriveID], [CustomerID], [DealerCarID], [SalesPersonID], [Date], [feedback]) VALUES (1, 1, 1, 3, CAST(N'2025-07-19' AS Date), N'Mobil nyaman dan Gagah. Pelayanan Sales Ramah')
INSERT [dbo].[TestDrive] ([TestDriveID], [CustomerID], [DealerCarID], [SalesPersonID], [Date], [feedback]) VALUES (2, 2, 2, 2, CAST(N'2025-07-19' AS Date), N'Performa mantap. Cocok untuk keluarga yang punya banyak anak. dealer suasana nyaman dan disambut dengan baik')
INSERT [dbo].[TestDrive] ([TestDriveID], [CustomerID], [DealerCarID], [SalesPersonID], [Date], [feedback]) VALUES (3, 3, 3, 1, CAST(N'2025-07-19' AS Date), N'Muatan besar sangat tertarik untuk usaha toko bangunan keluarga saya.')
SET IDENTITY_INSERT [dbo].[TestDrive] OFF
GO
SET IDENTITY_INSERT [dbo].[WarrantyClaim] ON 

INSERT [dbo].[WarrantyClaim] ([ClaimID], [WarrantyID], [IssueReported], [ServiceCenter], [RepairDate], [RepairCost], [ClaimStatus]) VALUES (1, 1, N'AC tidak dingin', N'Mitsubishi Jkt', CAST(N'2025-07-01' AS Date), 2000000, N'Closed')
INSERT [dbo].[WarrantyClaim] ([ClaimID], [WarrantyID], [IssueReported], [ServiceCenter], [RepairDate], [RepairCost], [ClaimStatus]) VALUES (2, 2, N'Lampu mati', N'Service Surabaya', CAST(N'2025-07-05' AS Date), 500000, N'Closed')
INSERT [dbo].[WarrantyClaim] ([ClaimID], [WarrantyID], [IssueReported], [ServiceCenter], [RepairDate], [RepairCost], [ClaimStatus]) VALUES (3, 3, N'Mesin bergetar', N'Mitsubishi Serpong', CAST(N'2025-07-10' AS Date), 1500000, N'Open')
SET IDENTITY_INSERT [dbo].[WarrantyClaim] OFF
GO
SET IDENTITY_INSERT [dbo].[WarrantyRegistration] ON 

INSERT [dbo].[WarrantyRegistration] ([WarrantyID], [CarID], [PurchaseID], [WarrantyPeriodMonths]) VALUES (1, 3, 1, 48)
INSERT [dbo].[WarrantyRegistration] ([WarrantyID], [CarID], [PurchaseID], [WarrantyPeriodMonths]) VALUES (2, 1, 2, 36)
INSERT [dbo].[WarrantyRegistration] ([WarrantyID], [CarID], [PurchaseID], [WarrantyPeriodMonths]) VALUES (3, 2, 3, 24)
SET IDENTITY_INSERT [dbo].[WarrantyRegistration] OFF
GO
/****** Object:  Index [UQ__Agreemen__412C029BC5C303B4]    Script Date: 7/30/2025 11:45:54 AM ******/
ALTER TABLE [dbo].[Agreement] ADD UNIQUE NONCLUSTERED 
(
	[LoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Credit__0A309D22EE83FE0C]    Script Date: 7/30/2025 11:45:54 AM ******/
ALTER TABLE [dbo].[Credit] ADD UNIQUE NONCLUSTERED 
(
	[AgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Warranty__6B0A6BDFD401A47A]    Script Date: 7/30/2025 11:45:54 AM ******/
ALTER TABLE [dbo].[WarrantyRegistration] ADD UNIQUE NONCLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agreement] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[ConsultHistory] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[PaymentHistory] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[TestDrive] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__LoiID__5441852A] FOREIGN KEY([LoiID])
REFERENCES [dbo].[LetterOfIntent] ([LoiID])
GO
ALTER TABLE [dbo].[Agreement] CHECK CONSTRAINT [FK__Agreement__LoiID__5441852A]
GO
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD FOREIGN KEY([SalesPersonID])
REFERENCES [dbo].[SalesPerson] ([SalesID])
GO
ALTER TABLE [dbo].[ConsultHistory]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[ConsultHistory]  WITH CHECK ADD FOREIGN KEY([SalesPersonID])
REFERENCES [dbo].[SalesPerson] ([SalesID])
GO
ALTER TABLE [dbo].[Credit]  WITH CHECK ADD FOREIGN KEY([AgreementID])
REFERENCES [dbo].[Agreement] ([AgreementID])
GO
ALTER TABLE [dbo].[DealerCar]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
ALTER TABLE [dbo].[DealerCar]  WITH CHECK ADD FOREIGN KEY([DealerID])
REFERENCES [dbo].[Dealer] ([DealerID])
GO
ALTER TABLE [dbo].[LetterOfIntent]  WITH CHECK ADD  CONSTRAINT [FK__LetterOfI__Deale__4F7CD00D] FOREIGN KEY([DealerCarID])
REFERENCES [dbo].[DealerCar] ([DealerCarID])
GO
ALTER TABLE [dbo].[LetterOfIntent] CHECK CONSTRAINT [FK__LetterOfI__Deale__4F7CD00D]
GO
ALTER TABLE [dbo].[PaymentHistory]  WITH CHECK ADD FOREIGN KEY([AgreementID])
REFERENCES [dbo].[Agreement] ([AgreementID])
GO
ALTER TABLE [dbo].[SalesPerson]  WITH CHECK ADD FOREIGN KEY([DealerID])
REFERENCES [dbo].[Dealer] ([DealerID])
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD FOREIGN KEY([DealerCarID])
REFERENCES [dbo].[DealerCar] ([DealerCarID])
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD FOREIGN KEY([SalesPersonID])
REFERENCES [dbo].[SalesPerson] ([SalesID])
GO
ALTER TABLE [dbo].[WarrantyClaim]  WITH CHECK ADD FOREIGN KEY([WarrantyID])
REFERENCES [dbo].[WarrantyRegistration] ([WarrantyID])
GO
ALTER TABLE [dbo].[WarrantyRegistration]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
ALTER TABLE [dbo].[WarrantyRegistration]  WITH CHECK ADD FOREIGN KEY([PurchaseID])
REFERENCES [dbo].[Agreement] ([AgreementID])
GO
/****** Object:  StoredProcedure [dbo].[DeleteCar]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
                    CREATE PROCEDURE [dbo].[DeleteCar]
                        @CarID INT
                    AS
                    BEGIN
                        SET NOCOUNT OFF;
                    DELETE FROM Car WHERE CarID = @CarID;
                    END
GO
/****** Object:  StoredProcedure [dbo].[DeleteDealer]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDealer]
    @DealerID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM [Dealer] WHERE [DealerID] = @DealerID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCar]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllCar]
AS
	SELECT * FROM Car order by Model asc
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetCarByID]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCarByID]
    @CarID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Car
    WHERE CarID = @CarID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCarsByDealer]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCarsByDealer]
    @DealerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Car.CarID, 
        Car.Model, 
        Car.Type, 
        Car.BasePrice, 
        Car.Color, 
        Car.Stock, 
        DealerCar.DealerID, 
        DealerCar.Price, 
        DealerCar.Stock AS StockDealer, 
        DealerCar.DiscountPercent, 
        DealerCar.FeePercent
    FROM 
        Car
    INNER JOIN 
        DealerCar ON Car.CarID = DealerCar.CarID
    WHERE 
        DealerCar.DealerID = @DealerID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCustomersByName]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomersByName]
    @Name NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT *
    FROM Customer
    WHERE Name LIKE @Name
    ORDER BY Name ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetDealerCarDetails]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDealerCarDetails]
AS
BEGIN
    SELECT 
        DealerCar.DealerCarID, 
        DealerCar.CarID, 
        DealerCar.DealerID, 
        DealerCar.Price, 
        DealerCar.Stock, 
        DealerCar.DiscountPercent, 
        DealerCar.FeePercent, 
        Car.Model, 
        Dealer.Name 
    FROM 
        DealerCar
        INNER JOIN Car ON DealerCar.CarID = Car.CarID
        INNER JOIN Dealer ON DealerCar.DealerID = Dealer.DealerID
END
GO
/****** Object:  StoredProcedure [dbo].[GetDealerDropDown]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetDealerDropDown]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [DealerID], [Name] FROM [Dealer] ORDER BY [Name]
END
GO
/****** Object:  StoredProcedure [dbo].[GetDealers]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDealers]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [DealerID], [Name], [Address], [PhoneNumber], [Email], [Status]
    FROM [Dealer];
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCar]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertCar]
    @Model NVARCHAR(100),
    @Type NVARCHAR(50),
    @BasePrice DECIMAL(18,2),
    @Color NVARCHAR(50),
    @Stock INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Car (Model, Type, BasePrice, Color, Stock)
    VALUES (@Model, @Type, @BasePrice, @Color, @Stock);

    SELECT SCOPE_IDENTITY() AS NewCarId;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertDealer]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertDealer]
    @Name NVARCHAR(100),
    @Address NVARCHAR(255),
    @PhoneNumber NVARCHAR(20),
    @Email NVARCHAR(100),
    @Status INT
AS
BEGIN
    INSERT INTO [Dealer] ([Name], [Address], [PhoneNumber], [Email], [Status])
    VALUES (@Name, @Address, @PhoneNumber, @Email, @Status);
END
GO
/****** Object:  StoredProcedure [dbo].[SearchCars]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchCars]
    @Model NVARCHAR(100),
    @Type NVARCHAR(100),
    @Color NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Car
    WHERE Model LIKE @Model
       OR Type LIKE @Type
       OR Color LIKE @Color
    ORDER BY Model ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HandleCarDelivery]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HandleCarDelivery]
    @AgreementID INT = 0,
    @CarID INT = 0,
    @DealerID INT = 0,
    @WarrantyPeriodMonths INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validasi: AgreementID harus ada
        IF NOT EXISTS (SELECT 1 FROM Agreement WHERE AgreementID = @AgreementID)
        BEGIN
            RAISERROR('AgreementID cannot be found. Please create Agreement first.', 16, 1);
            RETURN;
        END

        -- Validasi: Warranty untuk Agreement ini belum dibuat
        IF EXISTS (SELECT 1 FROM WarrantyRegistration WHERE PurchaseID = @AgreementID)
        BEGIN
            RAISERROR('Warranty for this transaction already exists.', 16, 1);
            RETURN;
        END

        -- Insert WarrantyRegistration
        INSERT INTO WarrantyRegistration (CarID, PurchaseID, WarrantyPeriodMonths)
        VALUES (@CarID, @AgreementID, @WarrantyPeriodMonths);

        PRINT 'The handover of the car was successful. You also receive a warranty for the car that has been purchased.';
    END TRY
    BEGIN CATCH
        PRINT 'An error occurred during the handover process.';
        PRINT ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterCustomer]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterCustomer] 
    @Name VARCHAR(30) = '',
    @CardID VARCHAR(30) = '',
    @Address TEXT = '',
    @PhoneNumber VARCHAR(15) = '',
    @Email VARCHAR(30) = ''
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Customer (Name, CardID, Address, PhoneNumber, Email)
    VALUES (@Name, @CardID, @Address, @PhoneNumber, @Email);
    
    PRINT 'Customer registration successful.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SubmitCreditApplication]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SubmitCreditApplication]
    @AgreementID INT,
    @CreditAmount FLOAT,
    @Tenor INT,
    @InterestRate FLOAT,
    @MonthlyPaymentAmount FLOAT,
    @CreditStatus VARCHAR(20),
    @PaidFully BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validasi: pastikan AgreementID ada di tabel Agreement
        IF NOT EXISTS (SELECT 1 FROM Agreement WHERE AgreementID = @AgreementID)
        BEGIN
            RAISERROR('AgreementID cannot found. Please create Agreement first.', 16, 1);
            RETURN;
        END

        -- Validasi: pastikan AgreementID belum ada di tabel Credit (karena UNIQUE)
        IF EXISTS (SELECT 1 FROM Credit WHERE AgreementID = @AgreementID)
        BEGIN
            RAISERROR('The credit application has been exist.', 16, 1);
            RETURN;
        END

        -- Insert data kredit
        INSERT INTO Credit (AgreementID,CreditAmount,Tenor,InterestRate,MonthlyPaymentAmount,CreditStatus,PaidFully)
        VALUES (@AgreementID, @CreditAmount,@Tenor,@InterestRate,@MonthlyPaymentAmount,@CreditStatus,@PaidFully
        );

        PRINT 'Credit application has been saved.';
    END TRY
    BEGIN CATCH
        PRINT 'Something wrong during credit apply.';
        PRINT ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateCar]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateCar]
    @CarID INT,
    @Model NVARCHAR(100),
    @Type NVARCHAR(50),
    @BasePrice DECIMAL(18,2),
    @Color NVARCHAR(50),
    @Stock INT
AS
BEGIN
    SET NOCOUNT OFF;

    UPDATE Car
    SET 
        Model = @Model,
        Type = @Type,
        BasePrice = @BasePrice,
        Color = @Color,
        Stock = @Stock
    WHERE CarID = @CarID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateDealer]    Script Date: 7/30/2025 11:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDealer]
    @DealerID INT,
    @Name NVARCHAR(255),
    @Address NVARCHAR(255),
    @PhoneNumber NVARCHAR(50),
    @Email NVARCHAR(255),
    @Status NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [Dealer]
    SET 
        [Name] = @Name,
        [Address] = @Address,
        [PhoneNumber] = @PhoneNumber,
        [Email] = @Email,
        [Status] = @Status
    WHERE [DealerID] = @DealerID;
END;
GO
USE [master]
GO
